*{
    background-color: #3E3232;
}

h1{
    color: #e4cccc;
    background-color: #ffffff00;
    font-family: Monaco, Monospace;
    font-weight: bolder;
    font-size: 40px;
    margin: 5px;
}

div{
    background-color: #503C3C;
    display:inline-block;
    padding: 5px;
    border-radius: 7px;
    margin-right: 15px;
    margin-bottom: 15px;
}
a {
    background-color: #7E6363;
    /* Green */
    font-family: Monaco, Monospace;
    color: #e4cccc;
    padding: 10px 20px;
    margin: 5px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-style: solid;
    /* border-color: #A87C7C; */
    border-color: #7E6363;
    border-radius: 5px;
}