input{
    border-width: 10px;
}
form {
    display: flex;
    flex-direction: column;
}
.row {
    margin: 5px 0;
}
label {
    display: inline-block;
    width: 100px;
}
input,
select {
    flex: 1;
    margin-left: 10px;
}
#output{
    border-style: dashed;
    border-width: 2px;
    border-radius: 2px;
    border-color: red;
}