:root {
    --BgColor: #181c14;
    --SecondColor: #3C3D37;
    --ThirdColor: #697565;
    --TextColor: #ECDFCC;
    
    --BarHeight: 4em;
    --PaddingLeft: 10em;
}  
* {
    margin: 0px;
}
body {
    background-color: var(--BgColor);
}
h1, h2, h3, h4, h5, h6, p {
    color: var(--TextColor);
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}
.top-bar {
    background-color: var(--SecondColor);
    height: var(--BarHeight);
    display: flex;
    align-items: center;
}
.content{
    text-align: center;
}
.bottom-bar {
    background-color: var(--SecondColor);
    /* position: absolute; */
    height: var(--BarHeight);
    width: 100%;
    bottom: 0px;
    line-height: var(--BarHeight);
    text-align: center;
}
.logo {
    margin-left: var(--PaddingLeft);
    margin-right: var(--PaddingLeft);
    display: flex;
    align-items: center;
}
.logo-icon {
    max-height: var(--BarHeight);
    width: auto;
    image-rendering: pixelated;
}
.credits{
    margin-left: var(--PaddingLeft);
}
.projects{
    display: grid;
    width: 75%;
    margin-left: 12.5%;
    grid-template-columns: repeat(3, 1fr);
}
.project{
    /* display: flex; */
    padding: 25px;
}
.project img{
    /* width: 250px; */
    width: 100%;
    border-radius: 1vw;
}