:root {
    --BgColor: #070F2B;
    --SecondColor: #1B1A55;
    --ThirdColor: #535C91;
    --TextColor: #9290C3;
}

@font-face {
    font-family: agency;
    src: url(AGENCYB.TTF);
}
body{
    background-color: var(--BgColor);
    color: var(--TextColor);
    font-family: agency;
    text-align: center;
    margin: 0;
}
.container{
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 5em;
    margin: 0px;
}
a{
    color: var(--TextColor);
    text-decoration: none;
}
.topnav{
    background-color: var(--ThirdColor);
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2em;
    mask-image: linear-gradient(to left, rgba(0,0,0,0), #000, rgba(0,0,0,0));
}
.topnav a{
    background-color: var(--SecondColor);
    font-size: 2em;
    width: 3em;
    border-radius: .2em;
}
.games{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.game{
    width: 20em;
    background-color: var(--SecondColor);
    border-radius: 1em;
    margin: 1em;
    padding: 0.5em;
}
.game img{
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    border-radius: .75em;
}
h2{
    margin: 0.1em;
    font-size: 2em;
}
.content{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
    text-align: center;
}
.banner{
    height: 50%;
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    mask-image: linear-gradient(#000, rgba(0,0,0,0));
}
.description{
    width: 50%;
    margin-left: 25%;
}
label{
    font-size: 2em;
}
input, textarea{
    height: 2em;
    width: 10em;
    
    background-color: var(--ThirdColor);
    font-family: agency;
    color: var(--BgColor);
    border-radius: .2em;
    border-color: var(--TextColor);
    border-width: .2em;
}
textarea{
    width: 15em;
    height: 10em;
}
button{
    background-color: var(--ThirdColor);
    font-size: 1.5em;
    font-family: agency;
    color: var(--BgColor);
    border-radius: .2em;
    border-color: var(--TextColor);
    border-width: .2em;
}